{{ define "main" }}
    <div class="section">Jack Li</div>
    <div>My Personal Website</div>

    <div class="section">About Me</div>
    <p>Hi, my name is Jack Li. I come from National Tsing University, Taiwan. I'm major in Computer Science.</p>
    
    <div class="section">Posts</div>

    <ul>
    {{ range where .Site.RegularPages "Section" "in" (slice "posts") }}
        <li>
            <a class="d-inline-flex" href="{{ .Permalink }}">
                <div class="mr-3">{{ .Date | dateFormat "2006-01-02" }}</div>
                <div>{{ .Name }}</div>
            </a>
        </li>
        
    {{ end }}
    </ul>
    <div class="section">Projects</div>

    <div class="project">
        {{ range where .Site.RegularPages "Section" "in" (slice "projects")}}
            <div class="project-body row">
                <div class="project-content col-10">
                    <div class="row mb-5">
                        <div class="col-lg-5 col-12">
                            <img src="{{ .Params.Cover }}" class="w-100"/>
                        </div>
                        <div class="col-lg-7 col-12 pt-2 pb-2">
                            <a href="{{ .Permalink }}" class="h2 mb-5">{{ .Name }}</a>
                            <p class="mt-3">{{ .Description }}</p>
                            <p>Github: <a href="">{{ .Params.Github }}</a></p>
                            <div class="project-tag">
                                <p>Tags: 
                                {{ range .Params.Tags }}
                                    {{ . }}
                                {{ end }}
                                </p>
                            </div>
                        </div>
                    
                    </div>
                    
                    
                </div>
            </div>
        {{ end }}
    </div>

    <div class="section">Contact</div>
{{ end }}